.container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 12px;
}

.mobileContainer {
  display: none;
}

.button {
  color: var(--orange_1);
  font: var(--desktop_main);
  cursor: pointer;
  padding: 10px 8px;
  position: relative;
  display: flex;
  align-items: center;
}

.button.active {
  color: var(--black);
}

/* Отступ между кнопками и разделителем | */
.button + .button {
  padding-left: 23px;
  
}

/* Разделитель | между кнопками */
.button + .button::before {
  content: "";
  position: absolute;
  left: 0;
  width: 2px;
  height: 20px;
  background: var(--orange_1);
}


/* Планшет */
@media (min-width: 834px) and (max-width: 1024px) {
  .container {
    gap: 2px;
  }
  .button {
    font: var(--tablet_main);

  }
  
  .button + .button {
  padding-left: 9px;
  
}
}

/* Мобильная версия */
@media (max-width: 833px) {
  .container {
    display: none;
  }


.mobileContainer {
  position: relative;
  display: flex;
  justify-content: flex-end;
  width: 100%;
}


.filterIcon {
  width: 24px;
  height: 24px;
}

/* Выпадающий список */
.dropdown {
  position: absolute;
  top: calc(100% + 8px);
  right: 0;

  width: 161px;

  background: white;
  border: 2px solid #9b8cff;
  border-radius: 8px;

  padding: 20px 16px;

  z-index: 1000;
}

.dropdownList {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

}
