.container {
  background: var(--white);
  max-width: 1440px;
  margin: 0 auto;
  box-sizing: border-box;
}

.grid {
  display: grid;
  gap: 24px;
  width: 100%;
  margin: 0 auto;
  grid-template-columns: repeat(3, minmax(0, 1fr)); /*декстоп 3 колонки*/
}

.card {
  background: #cbf28780;
  block-size: 685px;
  border-radius: 8px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  box-sizing: border-box;
}

.image {
  width: 100%;
  height: 265px;
  object-fit: cover;
  border-radius: 16px;
}

.content {
  background: var(--white);
  border-radius: 16px;
  padding: 20px;
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px; /* десктоп + планшет */
  min-height: 0;
  overflow: hidden;
}

.title {
  font: var(--desktop_h3);
  font-family: var(--main-font-family);
  color: var(--black);
  display: -webkit-box;
  -webkit-line-clamp: 1; /* заголовок не больше 1 строки */
  line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;
  letter-spacing: -2%;
}

.description {
  font: var(--desktop_main);
  font-family: var(--main-font-family);
  color: var(--black);
  flex: 1;
  min-height: 0;
  display: -webkit-box;
  -webkit-line-clamp: 5; /* 5 строк*/
  line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
  /* Обрезаем по высоте строго */
  max-height: calc(1.4em * 5); /* 1.4 * 5 = 7em */
  overflow-wrap: break-word;
  word-wrap: break-word;
}

.button {
  position: relative;
  width: 60px;
  height: 60px;
  margin-top: auto;
  margin-left: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  text-decoration: none;
  cursor: pointer;
  transition: width 0.3s ease;
}

.button:hover {
  width: 100%;
}

.icon {
  width: 60px;
  height: 60px;
  flex-shrink: 0;
  position: relative;
  z-index: 2;
}

.button:hover .icon {
  opacity: 0;
}

.buttonText {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  white-space: nowrap;
  color: var(--white);
  font: var(--desktop_button);
  transition: opacity 0.2s ease;
  pointer-events: none;
  z-index: 2;
}

.button::after {
  content: "";
  position: absolute;
  inset: 0;
  background: var(--energy);
  border-radius: 999px;
  opacity: 0;
  transition: opacity 0.2s ease;
  z-index: 0;
}

.button:hover .buttonText {
  opacity: 1;
}

.button:hover::after {
  opacity: 1;
}

/* Адаптив */
@media (min-width: 834px) and (max-width: 1023px) {
  .container {
    padding: 0 40px;
    box-sizing: border-box;
  }

  .grid {
    grid-template-columns: repeat(2, minmax(0, 1fr)); /*планшет 2 колонки*/
    gap: 20px;
  }

  .content {
    height: 327px;
  }

  .card {
    block-size: 636px;
  }

  .title {
    font: var(--tablet_h3);
  }

  .description {
    font: var(--tablet_main);
    line-height: 136%;
  }
}

@media (max-width: 833px) {
  .container {
    padding: 0 20px;
  }

  .grid {
    grid-template-columns: 1fr; /* мобильный 1 колонка */
  }

  .card {
    block-size: 519px;
  }

  .content {
    gap: 16px;
    height: 295px;
  }

  .image {
    max-height: 205px;
  }

  .title {
    font: var(--mobile_h3);
  }

  .description {
    font: var(--mobile_main);
  }

  .button {
    display: flex;
    width: 100%;
    height: 40px;
    margin: 0 auto;
    border-radius: 16px;
    align-items: center;
    justify-content: center;
    background: var(--energy);
  }

  .icon {
    display: none;
  }

  .buttonText {
    display: block;
    color: var(--white);
    font: var(--mobile_button);
    opacity: 1;
  }
}
