.mainContainer {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 50px 80px 0; /* внутренний отступ для блоков контента от хедера 50px*/
  background-color: var(--white);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 120px; /* вертикальный отступ между секциями (desktop) */
}

/* Планшет (834px) */
@media (max-width: 834px) {
  .mainContainer {
    padding: 60px 40px 0; /* tablet-макет: отступы по бокам, отступ от хедера 60px*/
    gap: 100px; /* tablet: отступы между секциями */
  }
}

/* Мобильные (375px) */
@media (max-width: 375px) {
  .mainContainer {
    padding: 20px 20px 0; /* mobile-макет: отступы по бокам, отступ от хедера 20px**/
    gap: 80px; /* mobile: отступы между секциями */
  }
}
