@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:opsz,wght@14..32,300..700&display=swap');

:root {
  /*переменные для палитры цветов*/
  --balance: #c1b7ff;
  --ecologic: #78ba07;
  --energy: #eb3d00;
  --black: #1a1a1a;
  --white: #fcffff;
  --politic_black: #000000;
  --politic_white: #ffffff;
  --fault: #d41414;
  --gray: #bdbdbd80;
  --transparent: transparent;
  

  /*Оттенки Градиент */
  --purpure_1: #cdc5ff;
  --purpure_2: #dad4ff;
  --purpure_3: #e6e2ff;
  --green_1: #90cc28;
  --green_2: #aae347;
  --green_3: #cbf287;
  --orange_1: #ff6731;
  --orange_2: #ff8a60;
  --orange_3: #ffb69c;
  --black_1: #484848;
  --black_2: #848484;
  --black_3: #bdbdbd;

  /* Шрифты */
  --main-font-family:
    "Rubik", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue";
  --button-font-family: "Inter", sans-serif;

  /* Параметры шрифтов desktop*/
  --desktop_h1: 400 60px/1.4 var(--main-font-family);
  --desktop_h2: 400 48px/1.2 var(--main-font-family);
  --desktop_h3: 400 36px/1.4 var(--main-font-family);
  --desktop_h4: 300 40px/1.4 var(--main-font-family);
  --desktop_main: 300 24px/1.4 var(--main-font-family);
  --desktop_caption: 300 20px/1 var(--main-font-family);
  --desktop_button: 400 24px/1.4 var(--button-font-family);
  --desktop_numbers: 600 24px/1 var(--main-font-family);
  --desktop_politic: 300 20px/1.5 var(--main-font-family);

  /* Параметры шрифтов tablet */
  --tablet_h1: 400 36px/1.4 var(--main-font-family);
  --tablet_h2: 400 32px/1.2 var(--main-font-family);
  --tablet_h3: 400 28px/1.4 var(--main-font-family);
  --tablet_h4: 300 28px/1.2 var(--main-font-family);
  --tablet_main: 300 20px/1.4 var(--main-font-family);
  --tablet_caption: 400 20px/1 var(--main-font-family);
  --tablet_button: 400 20px/1 var(--button-font-family);

  /* Параметры шрифтов mobile */
  --mobile_h1: 400 36px/1.4 var(--main-font-family);
  --mobile_h2: 400 24px/1.2 var(--main-font-family);
  --mobile_h3: 400 20px/1.4 var(--main-font-family);
  --mobile_h4: 300 24px/1.2 var(--main-font-family);
  --mobile_main: 300 14px/1.4 var(--main-font-family);
  --mobile_caption: 400 12px/1 var(--main-font-family);
  --mobile_button: 400 16px/1.2 var(--button-font-family);

  /* breackpoints */
  --breakpoint_desktop: 1440px;
  --breakpoint_tablet: 834px;
  --breakpoint_mobile: 375px;

  --spacing-0: 0;
  --spacing-1: 4px;
  --spacing-2: 8px;
  --spacing-3: 12px;
  --spacing-4: 16px;
  --spacing-5: 20px;
  --spacing-6: 24px;
  --spacing-8: 32px;
  --spacing-10: 40px;
  --spacing-12: 48px;
  --spacing-16: 64px;
  --spacing-20: 80px;
  --spacing-24: 96px;
  --spacing-25: 100px;
  --spacing-30: 120px;
  --spacing-32: 128px;

  --focus-ring: 0 0 0 3px var(--black);
  --focus-ring-offset: 2px;
}
