.searchContainer {
  width: 408px;
}

.searchWrapper {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  height: 46px;
  padding-left: 31px;
  padding-right: 16px;
  gap: 26px;
  border: 1px solid var(--black_2);
  border-radius: 30px;
  background-color: var(--white);
  transition: border-color 0.2s ease;
  box-sizing: border-box;
}

/* Иконка лупы */
.searchIcon {
  width: 24px;
  height: 24px;
  cursor: pointer;
  flex-shrink: 0;
}

/* Поле ввода */
.searchInput {
  flex: 1;
  min-width: 0;
  height: 100%;
  border: none;
  background: none;
  font: var(--desktop_main);
  font-family: var(--main-font-family);
  color: var(--black);
  outline: none;
  line-height: 1;
  display: flex;
  align-items: center;
  line-height: 1;
}

.searchInput::placeholder {
  color: var(--black_2);
  font: var(--desktop_main);
  font-family: var(--main-font-family);
}

/* кнопка очистки */
.searchClear {
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}

/* Иконка крестика */
.clearIcon {
  width: 24px;
  height: 24px;
}

/* Адаптив */
@media (min-width: 834px) and (max-width: 1023px) {
  .searchContainer {
    max-width: 269px;
  }

  .searchWrapper {
    gap: 16px;
    align-items: center;
  }

  .searchInput {
    font: var(--tablet_main);
  }

  .searchInput::placeholder {
    font: var(--tablet_main);
  }
}

@media (max-width: 833px) {
  .searchContainer {
    box-sizing: border-box;
    max-width: 335px;
    width: 100%;
  }

  /* Закрытое состояние – только иконка справа */
  .searchWrapper:not(.open) {
    padding: 0;               
    justify-content: flex-end; 
    gap: 0;
    border: none;
    padding-right: 10px; 
  }

  /* Поле ввода и крестик скрываем, когда поиск закрыт */
  .searchWrapper:not(.open) .searchInput,
  .searchWrapper:not(.open) .searchClear {
    display: none;
  }

  /* Открытое состояние – показываем поле, возвращаем отступы */
  .searchWrapper.open {
    padding-left: 16px;
    padding-right: 16px;
    justify-content: flex-start;
    gap: 8px;
    border: 1px solid var(--black_2);
  }

  .searchWrapper.open .searchInput {
    display: flex;
  }

  .searchIcon {
  width: 20px;
  height: 20px;
  cursor: pointer;  
  }

  .searchInput {
    font: var(--mobile_main);
    opacity: 0;
    transition: opacity 0.3s ease;
    min-width: 0;
  }

  .searchWrapper.open .searchInput {
    width: 100%;
    opacity: 1;
  }

  .searchInput::placeholder {
    font: var(--mobile_main);
  }
}
