.contentWrapper {
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  gap: 40px;
  padding: 0 80px;
  max-width: 100%;
}

.title {
  font: var(--desktop_h2);
}

.cardWrapper {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 40px;
}

.cardWrapper li {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.imgWrapper {
  position: relative;
  overflow: hidden;
  aspect-ratio: 400 / 510;
  border-radius: 16px 16px 8px 8px;
}

.gradientBg {
  position: absolute;
  width: 100%;
  height: 100%;
  clip-path: polygon(50% 0%, 150% 0%, 50% 100%, -50% 100%);
}

.cardWrapper li:nth-child(odd) .gradientBg {
  background: linear-gradient(#d0c9ff, #ffffff);
}

.cardWrapper li:nth-child(even) .gradientBg {
  background: linear-gradient(#afdb64, #ffffff);
}

.img {
  position: relative;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.memberInfo {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 20px;
  gap: 12px;
}

.memberName {
  font: var(--desktop_main);
  font-family: "Inter", sans-serif;
  font-weight: 500;
}

.memberRole {
  font: var(--desktop_caption);
}

.customButton {
  min-width: 200px;
  max-width: 500px;
  align-self: center;
}

@media (max-width: 1023px) {
  .contentWrapper {
    padding: 0 40px;
  }
  .title {
    font: var(--tablet_h2);
  }
  .gradientBg {
    margin-top: 30px;
    border-radius: 8px;
  }
  .cardWrapper {
    display: flex;
    gap: 20px;
    overflow-x: auto;
  }

  .imgWrapper {
    width: 270px;
    height: 350px;
    aspect-ratio: 270/350;
  }

  .customButton {
    max-width: 350px;
  }

  .memberRole {
    font: var(--tablet_caption);
    font-weight: 300;
  }
}

@media (max-width: 833px) {
  .contentWrapper {
    padding: 0 20px;
    gap: 20px;
  }

  .cardWrapper li {
    gap: 12px;
  }
  .title {
    font: var(--mobile_h2);
  }

  .imgWrapper {
    width: 160px;
    height: 200px;
  }

  .customButton {
    max-width: 255px;
    height: 36px;
    font: var(--mobile_button);
  }

  .memberName {
    font: var(--mobile_main);
    font-weight: inherit;
  }

  .memberRole {
    font: var(--mobile_caption);
    font-weight: inherit;
  }

  .memberInfo {
    padding: 5px 25px;
    gap: 4px;
  }

  .gradientBg {
    margin-top: 20px;
    border-radius: 16px;
  }
}
