.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main {
  flex: 1;
  padding: 0;
}

.mainInner {
  max-width: var(--breakpoint_desktop);
  margin: 0 auto;
  width: 100%;
}
